<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Yelp Data Analysis - Andy Ho</title>
<link rel="shortcut icon" href="/img/favicon.png" type="image/png" />

<!-- ### CSS settings -->
<link rel="stylesheet" href="/css/general.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" type="text/css">
<!-- <link rel="stylesheet" href="/lib/css-star-rating/dist/css/star-rating.css"> -->

<!-- ### JS libraries -->
<!-- d3 v4 lib. -->
<script src="/js/d3/d3.js"></script>
<!-- jQuery lib. -->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>

<script src="/js/variables.js"></script>
<!-- self-defined functions -->
<script src="/js/self/main.js"></script>

<!-- ### NLP libraries -->
<script src="/lib/compendium-js/dist/compendium.minimal.js"></script>
<script src="/lib/compromise/builds/compromise.js"></script>

<!-- ### Charts -->
<script src="/js/charts/d3cloud.js"></script>
<script src="/js/charts/word-cloud.js"></script>
<script src="/js/charts/thermo.js"></script>
<script src="/js/charts/gauge.js"></script>
<script src="/js/charts/force-directed-graph.js"></script>

<!-- [Deprecated] OpenLayers lib. -->
<!-- <script src="/js/openlayer/OpenLayers.js"></script> -->