<div id="logo-des" align="justify">
    <font face="Verdana">
    <table width="100%">
        <tr><td><img src="/img/yelp_logo.png" alt="Yelp Logo" width="150px";></td>
            <td aligh="center"><h3><bold class="text-white">Data Analysis</bold></h3></td>
    </tr></table>
    <hr noshade id="logo-hr">
    This is the Yelp data analysis platform.<br>
    Please <bold>click the Marker</bold> on the map to see detail information, or<br>
    <bold>move or zoom the map</bold> to find different stores or restaurants.
    </font>
</div>