<div id="title-container" align="justify">
    <font face="Dosis">
    <table width="100%">
        <tr><td align="right" style="padding: 10px;"><img src="/img/yelp_logo.png" alt="Yelp Logo" width="130px";></td>
            <td aligh="center"><h3 class="font-s-1-5em"><bold class="text-white">Data Analysis</bold></h3></td>
    </tr></table>
    <!-- <hr noshade id="title-hr"> -->
    <div id="title-text" class="bgcolor-black-o8">
        This is the Yelp data analysis platform.<br>
        Please <bold><remind>click the Marker</remind></bold> on the map to see detail information, or<br>
        <bold><remind>move or zoom the map</remind></bold> to find different stores or restaurants.
    </div>
    </font>
</div>