<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>P2 Andy Ho (915528994)</title>
<script src="/js/variables.js"></script>
<script src="/js/d3/d3.js"></script>
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" type="text/css">
<!-- <link rel="stylesheet" href="/lib/css-star-rating/dist/css/star-rating.css"> -->
<script src="/js/openlayer/OpenLayers.js"></script>
<script src="/js/self/main.js"></script>
<script src="/lib/compendium-js/dist/compendium.js"></script>
<script src="/lib/compromise/builds/compromise.js"></script>
<script src="/js/charts/d3cloud.js"></script>
<script src="/js/charts/word-cloud.js"></script>
<script src="/js/charts/thermo.js"></script>
<script src="/js/charts/gauge.js"></script>
