<!DOCTYPE html>
<head>
<% include ./components/header.ejs %>
</head>
<body class="body">
<font face="Dosis">
    <div id="loading" class="loading">Loading&#8230;</div>
    <div id="tooltip" class="tooltip"></div>

    <!-- <% include ./components/navbar.ejs %> -->
    <% include ./components/title.ejs %>
    <% include ./components/sidebar.ejs %>
    <% include ./components/dashboard.ejs %>

    <!-- place the map -->
    <div id="map"></div>
    <!-- footer -->
</font>
<!-- to includ the Google Map API -->
<!-- this file contains the API key which is not allowed to be publicly accessed,
     therefore, it will not be uploaded to the GitHub platform. -->
<% include ./components/gmap.ejs %>
</body>
</html>