#map {
    z-index: 0;
}

/* title style -------------------------------------------- */
#title-container {
    position: absolute;
    z-index: 20000;
    top: 60px;
    left: 10px;
    width: 350px;
    background-color: rgba( 211, 35, 35, 0.7 );
    border-radius: 10px;
    /* padding: 10px; */

    color: white;
}
#title-hr {
    color: white;
    background-color: white;
    border-color: white;
}
#title-text {
    padding: 10px;
    border-top: white 2px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.3em;
}
/* -------------------------------------------- title style */

/* start rating ------------------------------------------- */
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    margin: 10px;
    color: white;
}
.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    font-size: 1.5em;
}
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
    font-size: 1.5em;
}
/* ------------------------------------------- start rating */

/* gauge style -------------------------------------------- */
.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
#th-container {
    text-align: center;
}
#th-container > svg {
    display: inline-block;
    margin: 10px;
}
.thermo-widget {
    display: inline-block !important;
    width: 200px;
}
.thermo-widget {
    display: flex;
    flex-direction: row;
    /* margin: 20px; */
}
.thermo-widget > .panel {
    display: inline-block;
    height: auto;
    padding: 5px;
}
.thermo-widget .percent-summary {
    display: block;
    text-align: center;
}
.thermo-widget > .panel.right {
    display: inline-block;
    height: auto;
    padding: 5px;
}
.thermo-widget .bullet {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.thermo-widget .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 6px;
}
.thermo-widget .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.thermo-widget .panel .count {
    font-size: 1.5em;
    font-weight: bold;
}
.thermometer {
    display: inline-block;
}
/* -------------------------------------------- gauge style */

/* tooltip style ------------------------------------------ */
div.tooltip, .tool-tip {
    color: rgba(211, 35, 35, 0.8);
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 10px;
    font-family: "Arial";
    font: 20px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
    z-index: 20001;
}
.tool-tip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -12px;
    z-index: 20001;
}
/* ------------------------------------------ tooltip style */

/* tab style ---------------------------------------------- */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* ---------------------------------------------- tab style */

/* user reviews dashboard style --------------------------- */
#dashboard-u-reviews {
    position: absolute;
    /* top: 10px;
    width: 80%;
    height: 90%; */
    top: 10px;
    width: 100%;
    height: 100%;
    z-index: 200011;
    background: rgba(0, 0, 0, 0.9);
    /* border-radius: 20px; */
    transition: 0.3s;
    /* padding: 20px; */
    overflow: hidden;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}
#ud-uid {
    background-color: blue;
    border-bottom: white 2px solid;
    padding: 20px;
}
/* The ud-r-selector */
.ud-r-selector {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.ud-r-selector input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.ud-r-selector:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.ud-r-selector input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.ud-r-selector input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.ud-r-selector .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
#selector-hr {
    color: white;
    background-color: white;
    border-color: white;
    margin-top: 20px;
}
#selector-e-msg {
    width: 50%;
    float: left;
    text-align: left;
    color: #d32323;
    font-size: 18px;
    font-weight: bold;
}
.selector-btn {
    float: right;
}
#ud-ana-result {
    width: 95%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}
#ud-tag-container, #ud-token-container {
    width: 98%;
    padding-top: 10px;
}
#ud-token-container {
    border-top: black 1px dashed;
    border-bottom: black 1px dashed;
}
.token {
    display: inline-block;
    font-family: Dosis;
    font-weight: bold;
    font-size: 20px;
    /* border: black 2px solid; */
    /* border-radius: 10px; */
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;

}
.token-text, .token-tag {
    width: 100%;
    text-align: center;
}
.token-text {
    padding-bottom: 10px;
}
.token-tag {
    font-family: FjallaOne;
}
.sentiment-score {
    padding: 10px;
    color: black;
    border: black 2px solid;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}
/* --------------------------- user reviews dashboard style */

/* side bar style ----------------------------------------- */
.sidenav {
    height: 84%;
    width: 500px;
    position: fixed;
    z-index: 20000;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.3s;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    /* border: rgba( 211, 35, 35, 0.7 ) 2px solid; */
    visibility: hidden;
}
.overlay:before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    /* background-color: rgba(255,0,0,0.5); */
    background-color: rgba( 0, 0, 0, 0.5 );
}
.sidenav a, #dashboard-u-reviews a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color: #818181; */
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, #dashboard-u-reviews a:hover {
    color: #555555;
}
.sidenav .closebtn, #dashboard-u-reviews a {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#sider-title {
    position: absolute;
    top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
#sider-photos {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    width: 100%;
    height: 200px;
}
#sider-cate-container {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}
.category, .tag {
    display: inline-block;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #d32323;
    border-radius: 5px;
    margin: 5px;
}
#sider-container {
    /* position: relative; */
    position: absolute;
    top: 220px;
}
/* #sider-photos > img {
    
} */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#sider-container {
    width: 480px;
    padding-left: 10px;
    padding-right: 10px;
}
#sider-hr {
    color: white;
    background-color: white;
    border-color: white;
}
#sider-wc-container, #sider-graph-container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}
#fd-graph-legend {
    padding-top: 20px;
}
/* basic positioning */
.legend {
    list-style: none;
    background: none;
    padding-left: 10px;
}
.legend li {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: white;
}
.legend span {
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
/* legend colors */
.legend .store { background-color: white; }
.legend .positive { background-color: #3f3e3e; }
.legend .positive { background-color: #178BCA; }
.legend .negative { background-color: #FF4444; }
.legend .neutral { background-color: #3CA55C; }
#fd-graph-des {
    color: white;
    text-align: left;
    padding: 10px;
}
.links line
{
    stroke: white;
    stroke-opacity: 0.6;
}
.nodes circle
{
    stroke: #fff;
    stroke-width: 1.5px;
}
/* ----------------------------------------- side bar style */

/* loading ------------------------------------------------ */
/* Ref. https://codepen.io/MattIn4D/pen/LiKFC */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    z-index: 200010;
}
/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* ------------------------------------------------ loading */





/* ################################ [Deprecated] ################################ */

/* navbar style ------------------------------------------- */
.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 20;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #3f3e3e; */
    /* background-color: #d32323; */
    background-color: rgba(0, 0, 0, 0.8);
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    transition: 0.5s;
    background-color: white;
    color: #d32323;
}
.main-title {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
.active {
    /* background-color: #4CAF50; */
    /* background-color: rgb(173, 69, 38); */
    /* background-color: #c9c9c9; */
    background-color: #d32323;
    /* color: #d32323; */
}
/* .button {
    background-color: rgba(211, 35, 35, 0.8);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover {
    transition: 0.5s;
    background-color: #111;
} */
/* ------------------------------------------- navbar style */